/* AuthForm.css */

/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Container for the entire form und logo */
.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: linear-gradient(to right, #224c8c, #3a7ec3, #224c8c, #3a7ec3, #4372ac, #4d8af4, #3a7ec3, #20467e);
    background-size: 400% 400%;
    animation: gradientAnimation 3s ease forwards;
    animation-delay: 0.5s;
    color: white;
    box-sizing: border-box;
    animation-fill-mode: forwards;
    padding-left: 320px;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 10%;
    }
    100% {
        background-position: 50% 10%;
    }
}

/* Sidebar container */
.sidebar {
    width: 250px; /* Schmaler gemacht */
    height: 100vh; /* Höhe des Bildschirms */
    padding: 20px;
    padding-top: 90px; /* Abstand zur Navbar */
    background: rgba(67, 5, 5, 0.226);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0; /* Startet am oberen Rand */
    left: 0;
    border-radius: 0 8px 8px 0;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
    animation: sidebarFadeIn 2s ease-out forwards;
    opacity: 0.05;
    z-index: 1100; /* Über der Navbar */
}

@keyframes sidebarFadeIn {
    0% {
        opacity: 0.05;
    }
    100% {
        opacity: 1;
    }
}

.sidebar-item {
    position: relative;
    width: 92%;
    margin: 30px 0;
    cursor: pointer;
    padding: 15px;
    display: flex;
    flex-direction: column;
    transition: background 0.3s ease, max-height 0.3s ease;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.1);
    max-height: 25px;
    overflow: hidden;
}

.sidebar-item:hover {
    background: rgba(255, 255, 255, 0.2);
    max-height: 200px;
}

.sidebar-item .text {
    display: flex;
    background: rgba(255, 255, 255, 0.05);
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.sidebar-item .icon {
    margin-left: 19px;
    margin-right: 5px;
    display: inline-block;
    transform: rotate(90deg);
}

.sidebar-info {
    display: none;
    padding: 10px;
    background: rgba(255, 255, 255, 0.8);
    color: #ffffff;
    border-radius: 5px;
    margin-top: 5px;
    width: fit-content;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    font-size: 15px;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: 200;
    backdrop-filter: blur(10px);
    line-height: 1.5;
}

.sidebar-item:hover .sidebar-info {
    display: block;
    background: rgba(34, 83, 109, 0.522);
}

.sidebar-item .text {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
}

.logo-container {
    position: absolute;
    top: 10px;
    left: 10px;
}

.button-container {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
}

.sidebar-gitlab-logo {
    margin-top: 20px;
    width: 100px;
    height: auto;
}

.header-with-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
    padding: 35px;
    padding-left: 0px;
}

.header-logo {
    width: 95px;
    height: 95px;
    margin-right: 20px;
    border-radius: 50%;
    animation: logoAnimation 2.5s ease-out forwards;
}

@keyframes logoAnimation {
    0% {
        transform: translateX(100%);
        opacity: 0.1;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.auth-text {
    animation: slideUp 1s ease-out forwards;
    opacity: 0.2;
    font-size: 18px;
    color: white;
    margin: 10px 0;
    text-align: center;
}

.auth-header {
    font-weight: bold;
    font-size: 80px;
    color: white;
    font-family: 'Bebas Neue', cursive;
    animation: fadeInScale 2s ease-out forwards;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    display: flex;
    align-items: center;
    padding-left: 5px;
}

@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: scale(0.5) translate(-30px, -5%);
    }
    100% {
        opacity: 1;
        transform: scale(1) translate(0, 0);
    }
}

.auth-subheader {
    font-weight: bold;
    font-size: 25.2px;
    color: white;
    text-align: center;
}

.auth-text ul,
.auth-text li {
    color: white;
}

.main-content {
    margin-top: 120px; /* Abstand unter der Navbar */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 800px;
    text-align: center;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 0;
    margin: auto;
}

.footer {
    width: 100%;
    background: rgba(29, 80, 80, 0.75);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.5);
}

.footer .footer-links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer .footer-links img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: transform 0.2s;
}

.footer .footer-links img:hover {
    transform: scale(1.1);
}

.footer .footer-text {
    font-size: 14px;
    text-align: right;
    padding-right: 40px;
}

.image-container {
    position: absolute;
    bottom: 60px;
    left: 20px;
    width: 90%;
    max-width: 500px;
    margin: 20px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    opacity: 0;
    transform: translateY(100%);
    animation: slideUpFadeIn 1.5s ease-out forwards;
}

@keyframes slideUpFadeIn {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.image-container img {
    width: 100%;
    height: auto;
}

/* Navbar styles */
.navbar {
    width: 80%; /* Breiter, um alle Inhalte aufzunehmen */
    max-width: 1200px; /* Maximale Breite */
    margin: 20px auto; /* Zentriert mit automatischen Seitenabständen */
    height: auto; /* Höhe automatisch an den Inhalt anpassen */
    position: fixed;
    top: 0; /* Oben am Bildschirm */
    left: 50%; /* Zentrierung */
    transform: translateX(-50%); /* Zentrierung */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(34, 76, 140, 0.9); /* Halbtransparenter Hintergrund */
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 10px; /* Abgerundete Ecken für ein schwebendes Gefühl */
    flex-wrap: wrap; /* Inhalte umbrechen lassen, falls nötig */
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.navbar-title {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 24px;
    color: white;
}

.navbar-center {
    display: flex;
    align-items: center;
    gap: 10px;
}

.auth-form {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 0; /* Kein Abstand zum oberen Bereich der Navbar */
}

.auth-form label.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.auth-form input {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.auth-form button[type="submit"] {
    padding: 10px 20px;
    background-color: #224c8c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.auth-form button[type="submit"]:hover {
    background-color: #3a7ec3;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar-link {
    color: white;
    text-decoration: none;
    font-size: 16px;
    background-color: #42a5f5; /* Helles Blau passend zum Hintergrund */
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.navbar-link:hover {
    background-color: #1e88e5; /* Etwas dunkleres Blau für den Hover-Effekt */
}

.google-login-button {
    padding: 10px 20px;
    background-color: #66bb6a; /* Helles Grün passend zum Hintergrund */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.google-login-button:hover {
    background-color: #43a047; /* Etwas dunkleres Grün für den Hover-Effekt */
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        padding-left: 0;
        flex-direction: column;
        align-items: flex-start;
    }

    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
        top: 0;
        border-radius: 0;
        box-shadow: none;
        margin-bottom: 20px;
    }

    .sidebar-item {
        max-height: none;
        margin-top: 100px; /* Abstand zur Navbar */
    }

    .button-container {
        top: auto;
        bottom: 10px;
        right: 10px;
    }

    .header-with-logo {
        flex-direction: column;
        margin-top: 20px;
        padding: 10px;
    }

    .main-content {
        width: 100%;
        max-width: none;
        padding: 0 20px;
        margin-top: 150px; /* Abstand zur Navbar */
    }

    .footer {
        flex-direction: column;
        padding: 10px;
        text-align: center;
    }

    .footer .footer-text {
        padding-right: 0;
        margin-top: 10px;
    }

    .image-container {
        width: 100%;
        max-width: none;
        position: relative;
        bottom: auto;
        left: auto;
        margin-top: 20px;
    }

    .navbar {
        width: 90%;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
    }

    .navbar-right {
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }

    .main-content {
        margin-top: 150px; /* Anpassung für mobile Ansicht */
    }
}
